---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "@fontsource-variable/bricolage-grotesque";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title ? title + " | " + "8Labs" : "8Labs - CloudLabs for You";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="8Labs offers robust, secure, and scalable cloud labs solutions tailored for home lab enthusiasts. Enjoy seamless networking, versatile OS support, and full control over your virtual machines."
      canonical={canonicalURL}
      twitter={{
        creator: "@mraskaa_",
        site: "@mraskaa_",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: "8Labs - CloudLabs",
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "8Labs Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
    <!-- Analytics -->
    <script
      defer
      src="https://beacon.8labs.id/script.js"
      data-website-id="2f166e07-ce01-415b-9b24-5e2d9290e058"></script>
    <!-- Indie Friends -->
    <script src="https://autoback.link/autobacklink.js?ref=8labs.id" defer async
    ></script>
    <!-- Stagewise Toolbar (Development only) -->
    <script src="../scripts/stagewise.ts"></script>
    <script>
      window.onBacklinksLoaded = function (data) {
        const el = document.querySelector(".custom-autobacklink");
        if (el) {
          el.innerHTML = data
            .map(
              (link) =>
                `<a class="rounded-full text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-3 py-2 text-slate-500 hover:bg-black hover:text-white border-2 border m-1" href="${link.url}" target="_blank" rel="noopener noreferrer">${link.label}</a>`
            )
            .join("\n");
        }
      };
    </script>
  </body>
</html>
